.App {
  --primary1: #2D2D2D;
  --primary2: #262626;
  --primary3: #1E1E1E;
}

.home {
  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  border-top: 2px solid var(--primary3);
  background-color: var(--primary1);
}

.pageLink {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 15px;

  font-weight: 450;
  font-family: 'UI';
  border-right: 2px solid var(--primary3);

  color: #959595;
}

.pageLink:hover {
  background-color: var(--primary2);
}

.selected {
  background-color: var(--primary3);
  color: aliceblue;
}

.selected .pageLinkClose {
  visibility: visible;
}

.pageLink:hover .pageLinkClose {
  visibility: visible;
}

.pageLinkIcon {
  height: 15px;
  padding-right: 10px;
  width: auto;
}

.pageLinkClose {
  visibility: hidden;
  margin-left: 10px;

  color: var(--primary1);
  border: none;
  border-radius: 10px;
  background: none;

  font-size: 1.25rem;
}

.pageLinkClose:hover {
  cursor: pointer;
  background: var(--primary1);
}

.x {
  width: 14px;
  height: 14px;
}

.pageLinkJS {
  height: 12px;
  padding-right: 10px;
  width: auto;
}

/* home section */
.home {
  display: flex;
  flex-direction: column;

  line-height: 10px;
  padding-left: 20px;
  padding-top: 15vh;
}

.profile {
  font-weight: 450;
  font-family: 'CodeFont';
  font-size: 3rem;
  color: rgb(174, 174, 174);
}

.name {
  font-size: 4rem;
  color: aliceblue;
}

.profileButtons button {
  padding: 15px;
  font-weight: 450;
  font-family: 'CodeFont';
  font-size: 2rem;

  margin-right: 3rem;

  border: 5px solid aliceblue;
}

.profileButtons button:hover {
  color: aliceblue;
  background-color: var(--primary1);
  border: 5px solid rgb(158, 161, 164);

  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.profileButtons button:active {
  background-color: aliceblue;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 aliceblue;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #5A9C4C;
  font-family: "Consolas";

}

@font-face {
  font-family: 'CodeFont';
  src: url('./fonts/JetBrainsMono-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'UI';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Segoe\ UI.woff') format('woff');
}

.description {
  max-width: 60vw;
  text-align: left;
}

.importContainer {
  display: flex;
  font-size: 1.5rem;
}

.pinkText {
  color: #D081C4;
  padding-left: 5px;
  padding-right: 5px;
}

.orangeText {
  color: #D88E73;
  padding-left: 5px;
  padding-right: 5px;
}

.blueText {
  color: #8ADDFF;
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .navBar {
    position: absolute;
  }

  .pageLink {
    font-size: 2vw;
    width: 20vw;
    padding: 2.5vw;
  }

  .pageLinkIcon {
    height: 2vw;
    width: auto;
  }

  .pageLinkJS {
    height: 2vw;
    width: auto;
  }

  .x {
    height: 2vw;
    width: auto;
  }

  .pageLinkClose {
    margin-left: 0.5vw;
    display: flex;
  }

  .profile {
    font-size: 6vw;
  }

  .name {
    font-size: 8vw;
  }

  .profileButtons button {
    padding: 4vw;
    font-weight: 450;
    font-family: 'CodeFont';
    font-size: 4vw;

    margin-right: 4vw;
  }
}