.App {
  text-align: center;
  background-color: #7BCBEC;

  width: 100vw;
  height: 100vh;

}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  max-width: 60vw;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3C0C61;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}