.App {
  --primary3: white;
  --primary2: #eeeeee;
  --primary1: #d0d0d0;

  --secondary1: black;
  --secondary2: #141414;

  --blue1: #ade8f4;
  --blue2: #48cae4;
  --blue3: #00b4d8;

  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;

  display: flex;
  justify-content: center;

  margin: auto;
  height: 100%;
  font-size: 18px;
  background-color: var(--primary3);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

#tsparticles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(202, 240, 248);
  background: linear-gradient(90deg, rgba(202, 240, 248, 1) 0%, rgba(72, 202, 228, 1) 62%);

  width: 100vw;
  height: fit-content;
  z-index: 1;
}

.navBar {
  display: flex;
  border-top: 2px solid var(--primary3);
  background-color: var(--primary1);
}

.pageLink {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 15px;

  font-weight: var(--font-medium);
  font-family: var(--body-font);
  border-right: 2px solid var(--primary3);

  color: var(--secondary1);
}

.pageLink:hover {
  background-color: var(--primary2);
}

.selected {
  background-color: var(--primary3);
  color: var(--secondary1);
}

.selected .pageLinkClose {
  visibility: visible;
}

.pageLink:hover .pageLinkClose {
  visibility: visible;
}

.pageLinkIcon {
  height: 15px;
  padding-right: 10px;
  width: auto;
}

.pageLinkClose {
  visibility: hidden;
  margin-left: 10px;

  color: var(--primary1);
  border: none;
  border-radius: 10px;
  background: none;

  font-size: 1.25rem;
}

.pageLinkClose:hover {
  cursor: pointer;
  background: var(--primary1);
}

.x {
  width: 14px;
  height: 14px;
}

.pageLinkJS {
  height: 12px;
  padding-right: 10px;
  width: auto;
}

/* home section */
.homePage {
  display: flex;
  align-items: center;
  flex-direction: column;

  line-height: 10px;
  padding: 0;

}

.homeLogo {
  width: 8vw;
  height: 8vw;
  border-radius: 500px;
  margin-right: 20px;
}

.profile {
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);
  font-size: 2vw;
  color: var(--primary3);

  display: flex;
  align-items: center;

  z-index: 2;
}

.details {
  letter-spacing: -2px;
}

.name {
  font-size: 3vw;
}

.profileButtons {
  margin-top: 5vh;
}

.profileButton {
  padding: 10px;
  font-weight: 450;
  font-family: var(--body-font);
  font-size: 1vw;
  text-decoration: none;

  margin-right: 1vw;
  cursor: pointer;
  background-color: var(--blue2);
  color: var(--primary3);

  border: 5px solid var(--primary3);

  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.profileButton:hover {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    color: var(--primary3);
    background-color: var(--blue2)
  }

  to {
    color: var(--blue3);
    background-color: var(--primary3)
  }
}

@keyframes fadeOut {
  from {
    color: var(--blue3);
    background-color: var(--primary3)
  }

  to {
    color: var(--primary3);
    background-color: var(--blue2)
  }
}


.about {
  font-weight: 450;
  font-family: var(--body-font);
  width: 100vw;

  z-index: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.splashArt {
  visibility: visible;
  width: 20vw;
  z-index: 10;
}

.aboutContent {
  margin-left: 20px;
  background-color: white;
  box-shadow: 0 0 1000px 100px white;
}

.aboutHeader {
  font-size: 2vw;
  font-weight: 450;
  font-family: var(--body-font);

  color: var(--secondary1);
}

.aboutP {
  color: var(--secondary2);
  line-height: 1.5;
  letter-spacing: -0.5px;
  font-size: 1vw;
  width: 30vw;
}

.aboutFlex {
  display: flex;
}

.aboutLanguages {
  width: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutLanguages header {
  color: var(--secondary1);
  font-weight: 600;

  margin: 0;
  line-height: 1;
  font-size: 2vw;
}

.aboutLanguages header:hover {
  color: var(--blue3);
}

.aboutLanguages p {
  color: var(--secondary1);

  margin: 0;
  line-height: 1;
  font-size: 1vw;
  text-align: center;
}

.description {
  max-width: 60vw;
  text-align: left;
}

.importContainer {
  display: flex;
  font-size: 1.5rem;
}

.pinkText {
  color: #D081C4;
  padding-left: 5px;
  padding-right: 5px;
}

.orangeText {
  color: #D88E73;
  padding-left: 5px;
  padding-right: 5px;
}

.blueText {
  color: #8ADDFF;
  padding-left: 5px;
  padding-right: 5px;
}

.projectsHeader {
  font-size: 2vw;
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);

  color: var(--primary3);
}

.projects {
  width: 100vw;
  background: rgb(202, 240, 248);
  background: linear-gradient(90deg, rgba(202, 240, 248, 1) 0%, rgba(72, 202, 228, 1) 62%);

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.projectRow {
  display: flex;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 80vw;
  height: fit-content;
  font-family: var(--body-font);
  color: var(--secondary2);
  background-color: var(--primary3);

  transform: translateX(-100%);

  margin: 1.5vw;
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
}

.previewContainer {
  position: relative;
  display: inline;

  border-right: 10px solid rgba(202, 240, 248, 1);
}

.projectPreview {
  width: 50vw;
  height: 60vh;
  border-bottom-left-radius: 5vh;

  object-fit: cover;
  border-top: none;
}

.previewContainer:hover .projectPreview {
  filter: brightness(50%);
}

.previewContainer:hover .projectOpen {
  visibility: visible;
}

.previewContainer:hover {
  cursor: pointer;
}

.projectOpen {
  visibility: hidden;
  position: absolute;

  width: 3vw;
  top: 10px;
  right: 10px;
}

.productOpen:hover {
  cursor: pointer;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.projectTitle {
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);
  font-size: 3vw;
  width: 100%;
  line-height: 1.2;

  color: var(--primary3);
  background: rgb(202, 240, 248);
  background: linear-gradient(90deg, rgba(202, 240, 248, 1) 0%, rgba(72, 202, 228, 1) 62%);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.projectTechnologies {
  width: 15vw;
  line-height: 0;
  background: rgb(202, 240, 248);
  background: linear-gradient(90deg, rgba(202, 240, 248, 1) 0%, rgba(72, 202, 228, 1) 62%);
  font-family: 'CodeFont';
  padding: 20px;
  border-bottom-right-radius: 5vh;
  border-right: 10px solid var(--blue1);
  margin-bottom: 20px;
}

#contact {
  display: flex;
  flex-direction: column;

}

.contactContent {
  margin-left: 20px;
  background-color: white;
  box-shadow: 0 0 1000px 100px white;

  display: flex;
  flex-direction: row;
}

.contactButton {
  display: flex;
  align-items: center;

  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;

  color: #fff;
  cursor: pointer;
  overflow: hidden;
  border: none;
  padding: 0px;
  border-radius: 5px;
}

.email {
  background-color: #EA4335;
}

.instagram {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.discord {
  background-color: #5865F2;
}

.contactHeader {
  font-size: 3vw;
  margin-bottom: 100px;
  z-index: 1;
  margin-left: 20px;
}

.contactB {
  color: var(--secondary2);
  line-height: 1.5;
  letter-spacing: -0.5px;
  display: flex;
  flex-direction: column;

}

.contactP {
  color: var(--secondary2);
  line-height: 1.5;
  letter-spacing: -0.5px;
  max-width: 20vw;
  margin: 0;
}

.contactButton p {
  display: flex;
  position: relative;
  font-family: 'Poppins';

  width: 60%;
  height: 80%;
  font-size: 1.25vw;
  text-align: center;
  margin: 0;

  animation-name: slideIn;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;

  align-items: center;
  justify-content: center;
}

.contactButton div {
  width: 15%;
  padding: 12.5%;
  justify-content: center;

  display: flex;

  animation-name: enlargeOut;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}

.contactButton div img {
  padding: 7.5%;
}

.contactButton:hover p {
  animation-name: slideOut;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}

.contactButton:hover div {
  animation-name: enlargeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}

@keyframes enlargeIn {
  from {
    width: 100%;
  }

  to {
    width: 100%;
    background-color: hsl(38, 100%, 92%, 0.37)
  }
}

@keyframes enlargeOut {
  100% {
    width: 15%;
  }

  50% {
    width: 100%;
  }

  0% {
    width: 100%;
  }
}

@keyframes slideIn {
  0% {
    margin-left: -100%;
    border: none;

    position: absolute;
    visibility: hidden;
  }

  100% {
    margin-left: 0px;
    border-right: 2px solid var(--primary3);
  }
}

@keyframes slideOut {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -100%;
    border: none;

    position: absolute;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 1500px) {

  .profile {
    font-size: 3vw;
  }

  .name {
    font-size: 4vw;
  }

  .profileButton {
    font-size: 2vw;
  }

  .homeLogo {
    width: 10vw;
    height: 10vw;
  }

  .splashArt {
    width: 30vw;
  }

  .aboutHeader {
    font-size: 3vw;
  }

  .aboutP {
    font-size: 2vw;
    width: 50vw;
  }

  .aboutLanguages {
    width: 14vw;
  }

  .aboutLanguages header {
    font-size: 4vw;
  }

  .aboutLanguages p {
    font-size: 1.5vw;
  }

  .projectsHeader {
    font-size: 4vw;
  }

  .projectPreview {
    height: 70vw;
  }

  .contactP {
    max-width: 40vw;
  }

  .contactButton p {
    font-size: 2vh;
  }
}

@media (max-width: 700px) {
  .navBar {
    position: absolute;
  }

  .pageLink {
    font-size: 2vw;
    width: 20vw;
    padding: 2.5vw;
  }

  .pageLinkIcon {
    height: 2vw;
    width: auto;
  }

  .pageLinkJS {
    height: 2vw;
    width: auto;
  }

  .x {
    height: 2vw;
    width: auto;
  }

  .pageLinkClose {
    margin-left: 0.5vw;
    display: flex;
  }

  .profile {
    font-size: 6vw;
  }

  .name {
    font-size: 7vw;
  }

  .about {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .aboutHeader {
    font-size: 4vh;
  }

  .aboutP {
    font-size: 2vh;
    width: 80vw;
  }

  .splashArt {
    visibility: hidden;
    position: absolute;
  }

  .aboutLanguages {
    width: 16vh;
  }

  .aboutLanguages header {
    font-size: 4vh;
  }

  .aboutLanguages p {
    font-size: 2vh;
  }

  .profileButton {
    font-size: 2vh;
  }

  .homeLogo {
    width: 10vh;
    height: 10vh;
  }

  .projectRow {
    display: grid;
  }

  .projectsHeader {
    font-size: 6vh;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;

    font-weight: 450;
    font-family: var(--body-font);

    margin-bottom: 0.5vh;
  }

  .projectDetails {
    align-items: center;
  }

  .projectPreview {
    width: 40vh;
    height: auto;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .projectTitle {
    font-weight: 450;
    font-family: var(--body-font);
    font-size: 3vh;
    color: var(--secondary1);

    width: 60vw;
    border-right: 10px solid var(--blue1);
    padding: 20px;
    border-radius: 20px;
  }

  .projectTechnologies {
    width: 60vw;
    background-color: var(--primary3);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .contactHeader {
    font-size: 4vh;
  }

  .contactContent {
    margin-left: 20px;
    background-color: white;
    box-shadow: 0 0 1000px 100px white;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contactP {
    max-width: 60vw;
  }


  .contactButton {
    width: 60vw;
  }
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: "CodeFont";
  src: url('./fonts/JetBrainsMono-Regular.ttf');
}